.body
{
    background-color: #f3f5f7
}

#header-panel
{
    min-height: 55px;
}

.spacer
{
    height: 20px;
}

.main-content-div
{
    border-radius: 5px;
    border: 1px solid #dfe0e2;
    background-color: #ffffff;
    min-height: 350px;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

#instructions
{
    border: none;
    width: 93%;
    resize: none;
    height: 300px;
    float: right;
}

#row-numbers
{
    width: 7%;
    resize: none;
    height: 300px;
    float: left;
    border-right: 1px solid #dfe0e2;
    overflow: hidden;
    padding: 2px;
}

#row-numbers p
{
    padding: 0;
    margin: 0;
}

#instructions:focus
{
    outline: none;
}

#chart-canvas
{
    width:100%;
}