.body
{
    background-color: #f3f5f7
}

#header-panel
{
    height: 40px;
    background-color: #639797;
}

.header-button
{
    border-radius: 3px;
    color: #f3f3f3;
    background-color: #3F7D7D;
    display: block;
    position: absolute;
    padding: 0 10px 0 0;
}

.header-button a
{
    color: #f3f3f3;
    font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
    line-height: 18px;
    font-weight: 700;
    padding-top:5px;
    padding-bottom: 7px;
}

/* this shouldn't be required as the '.header-button a' style should find this, but it doesn't */
.header-button>ul>li>a
{
    color: #f3f3f3;
    font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
    line-height: 18px;
    font-weight: 700;
    padding-top:5px;
    padding-bottom: 7px;
}

.header-button:hover
{
    background-color: #659797;
    border: 1px solid #3F7D7D;
}

.header-button a:link
{
    color: #f3f3f3;
    text-decoration: none;
}

#my-patterns
{
    top: 5px;
    left: 10px;
}

#my-patterns-image
{
    padding-right: 2px;
    padding-left: 5px;
}

#user-profile
{
    top: 5px;
    right: 10px;
}


/*#user-profile a*/
/*{*/
    /*color: #f3f3f3;*/
    /*font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;*/
    /*line-height: 18px;*/
    /*font-weight: 700;*/
    /*padding-top:5px;*/
    /*padding-bottom: 7px;*/
/*}*/

#profile-name
{
    padding-left: 5px;
}

.profile-options
{
    background-color: #659797;
}

.profile-options li > a:hover
{
    background-color: #3F7D7D;
}

#login-button-div
{
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

#logout-button-div
{
    display: block;
    position: absolute;
    top: 3px;
    left: 6px;
}

#save-button-div
{
    display: block;
    position: absolute;
    top: 3px;
    left: 70px;
}

#create-button-div
{
    display: block;
    position: absolute;
    top: 3px;
    left: 125px;
}

.spacer
{
    height: 20px;
}

/*#workspace*/
/*{*/
    /*display: none;*/
/*}
this breaks the canvas rendering when .show() is called
*/

#empty-workspace
{
    display: none;
}

#unauthorised-workspace
{
    display: none;
}

.main-content-div
{
    border-radius: 5px;
    border: 1px solid #dfe0e2;
    background-color: #ffffff;
    min-height: 350px;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

#instruction-header
{
    min-height: 35px;
}

#instructions-title
{
    font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-style: italic;
    color: #777;
}

#instructions-title:hover
{
    background-color: #ebebeb;
}

.main-labels
{
    float: right;
}

#instructions
{
    border: none;
    width: 93%;
    resize: none;
    height: 300px;
    float: right;
}

#row-numbers
{
    width: 7%;
    resize: none;
    height: 300px;
    float: left;
    border-right: 1px solid #dfe0e2;
    overflow: hidden;
    padding: 2px;
}

#row-numbers p
{
    padding: 0;
    margin: 0;
}

#instructions:focus
{
    outline: none;
}

#chart-canvas
{
    width:100%;
}

.modal-dialog
{
    font: normal 13px arial,sans-serif;
    padding-top: 15%;
}

.modal-backdrop
{
    background: #ffffff;
    opacity: 0.75;
}