<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">

    <servlet>
        <servlet-name>ConnectionServlet</servlet-name>
        <servlet-class>com.insano10.craftwork.servlets.ConnectionServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DisconnectionServlet</servlet-name>
        <servlet-class>com.insano10.craftwork.servlets.DisconnectionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ConnectionServlet</servlet-name>
        <url-pattern>/craftwork/construct/connect</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DisconnectionServlet</servlet-name>
        <url-pattern>/craftwork/construct/disconnect</url-pattern>
    </servlet-mapping>

</web-app>